body {
  margin-bottom: 50px;
}

.bg-header {
  background-color: #FFFDF6;
  color: #000;
}

.header-image-top {
  margin-top: 4px;
}

.align-right {
  text-align: right;
}

.articledetail-functionbar {
  margin-top: 30px;
}

.chat-received-messages {
  margin-top: 30px;
}
.wordwrap {
  white-space: normal;
  word-wrap: break-word;
}

.btn-menuitem {
  white-space: normal;
  word-wrap: break-word;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
}

.btn-menuitem-selected {
  color: #9B7B00
  border-color: #312E22;
  background-color: #FDCA00;
}
.btn-menuitem-selected:hover{color:#fff;background-color:#E9C125;border-color:#312E22}
.btn-menuitem-selected.active.focus,.btn-menuitem-selected.active:focus,.btn-menuitem-selected.active:hover,.btn-menuitem-selected:active.focus,.btn-menuitem-selected:active:focus,.btn-menuitem-selected:active:hover,.open>.dropdown-toggle.btn-menuitem-selected.focus,.open>.dropdown-toggle.btn-menuitem-selected:focus,.open>.dropdown-toggle.btn-menuitem-selected:hover{color:#fff;background-color:#FFD739;border-color:#312E22}

.menuitem-selector input{
  visibility: hidden; /* Makes input not-clickable */
  position: absolute;
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.menu-bg {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 4px;
}

@media screen and (min-width: 480px) {
  .menu-bg {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 14px;
  }

}
