.align-right {
  text-align: right;
}

.articledetail-functionbar {
  margin-top: 30px;
}

.chat-received-messages {
  margin-top: 30px;
}
.wordwrap {
  white-space: normal;
  word-wrap: break-word;
}

.btn-menuitem {
  white-space: normal;
  word-wrap: break-word;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
}

.menuitem-selector input{
  visibility: hidden; /* Makes input not-clickable */
  position: absolute;
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.menu-bg {
  background-color: #FBF5EF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 14px;
}
