body {
  background-color: #FBF5EF;
  margin-bottom: 50px;
}

.bg-header {
  background-color: #FBF5EF;
  background-color: #8D1003;
  color: #fff;
}

.header-image-top {
  margin-top: 4px;
}

.align-right {
  text-align: right;
}

.articledetail-functionbar {
  margin-top: 30px;
}

.chat-received-messages {
  margin-top: 30px;
}
.wordwrap {
  white-space: normal;
  word-wrap: break-word;
}

.btn-menuitem {
  white-space: normal;
  word-wrap: break-word;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
}

.btn-menuitem-selected {
  color: #fff;
  border-color: #9D2005;
  background-color: #8D1003;
}
.btn-menuitem-selected:hover{color:#fff;background-color:#8A1003;border-color:#8D1003}
.btn-menuitem-selected.active.focus,.btn-menuitem-selected.active:focus,.btn-menuitem-selected.active:hover,.btn-menuitem-selected:active.focus,.btn-menuitem-selected:active:focus,.btn-menuitem-selected:active:hover,.open>.dropdown-toggle.btn-menuitem-selected.focus,.open>.dropdown-toggle.btn-menuitem-selected:focus,.open>.dropdown-toggle.btn-menuitem-selected:hover{color:#fff;background-color:#7A1003;border-color:#8A1003}

.menuitem-selector input{
  visibility: hidden; /* Makes input not-clickable */
  position: absolute;
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.menu-bg {
  background-color: #FBF5EF;
  background-image: url("./res/paper.gif");
  border-color: #B6724E;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 4px;
}

@media screen and (min-width: 480px) {
  .menu-bg {
    background-color: #FBF5EF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 14px;
  }
}
