<form>
  <div ng-controller="MenuChoiceController as menu">
    <div ng-show="menu.isLoading" class="form-inline">
      <div class="text-center"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
      <p class="text-muted text-center">Menükarte wird geladen...</p>
    </div>
    <div ng-show="!menu.isLoading" class="row">
      <div class="col-xs-0 col-md-2"></div>
      <div class="col-xs-12 col-md-8">
        <div class="text-center">
          <h3>{{menu.anrede}},</h3>
          <p>Bitte wähle hier Dein Menü für die Weihnachtsfeier am 18.12.2015</p>
        </div>
        <div class="menu-bg">
          <div class="menuitem-selector" ng-repeat="menuitem in menu.menuitems">
            <ng-switch on="!$first && menuitem.COURSE != menu.menuitems[$index-1].COURSE">
              <div ng-switch-when="true" class="group"><hr class="divider"></hr></div>
            </ng-switch>
            <label class="btn btn-default btn-menuitem" ng-class="{'btn-menuitem-selected': menu.choices[menuitem.COURSE]==menuitem.ARTICLE}">
              <input type="radio" ng-checked="menu.choices[menuitem.COURSE]" ng-model="menu.choices[menuitem.COURSE]" value={{menuitem.ARTICLE}} name={{menuitem.COURSE}}>
                <strong class="text-center">{{menuitem.name}}</strong><p></p>
                <small class="text-center">{{menuitem.description}}</small>
              </input>
            </label>
          </div>
        </div>
        <hr class="divider"></hr>
        <p align="center">
          <button class="btn btn-lg btn-default" ui-sref="login">Abmelden</button>
          <button class="btn btn-lg btn-success" ng-disabled="menu.isLoading" ng-click="menu.submitChoice()">Meine Menüauswahl speichern</button>
        </p>
      </div>
    </div>
  </div>
</form>
