<form ng-controller="LoginController as login">
  <div class="form-group">
    <label for="message">Bitte loggen Sie sich mit Ihrer Email Adresse ein</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="novacom Mitarbeiter" aria-describedby="basic-addon2" ng-model="login.emailAddress">
          <span class="input-group-addon" id="basic-addon2">@novacom.at</span>
        </div>
  </div>
  <button type="submit" class="btn btn-primary btn-sm" ng-click="login.send()">Einloggen</button>
</form>
