<form ng-controller="LoginController as login">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Bitte mit deiner EMail Adresse anmelden</h3>
          </div>
          <div class="panel-body">
            <p>Hier kannst du dein Menü für die Weihnachtsfeier auswählen.</p>
            <form role="form">
              <fieldset>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Deine EMail-Adresse" ng-model="login.emailAddress" autofocus>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="login.saveEmail" value="EMail Adresse merken">EMail Adresse merken
                  </label>
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="login.send()">Anmelden</button>
              </fieldset>
              <p></p>
              <div class="alert btn-menuitem" ng-show="login.isNotValidEmailAddress">
                <strong>Diese EMail-Adresse ist uns nicht bekannt!</strong>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
